header{

background-image: url(https://media.cnn.com/api/v1/images/stellar/prod/230210161917-01-japan-never-traveler-culture-tokyo.jpg?c=16x9&q=h_653,w_1160,c_fill/f_webp) ;
height: 300px 300px;
background-size:cover;
background-position: center;
font-family: Arial, Helvetica, sans-serif;
}

