* {
  margin: 0;
  padding: 0;
  /* border: red solid; */
}
body {
  padding: 0;
  margin: 0;
  background-color: cornsilk;
}

header {
  background-image: url(https://media.cnn.com/api/v1/images/stellar/prod/230210161917-01-japan-never-traveler-culture-tokyo.jpg?c=16x9&q=h_653,w_1160,c_fill/f_webp);
  background-color: black;
  height: 10vh;
  background-size: cover;
  background-position: center;
}

h1, h2 {
  
  color: black;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: center;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  text-align: center;

}

.menu a {
  margin: 5px;
  background-color: bisque;
  border-radius: 1.5rem;
  text-decoration: none;
  color: darkslategrey;
  padding: 5px;
  text-align: center;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: ;
}

.wrap #Japan p {
  margin: auto;
  background-color: bisque;
  width: 80%;
  padding: 20px;
  align-items: center;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: large;
  text-align: center;
  border-radius: 20px;
}

.heroImage {
  display: flex;
  background-image: url(https://images.unsplash.com/photo-1480796927426-f609979314bd?q=80&w=2300&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 500px;
  margin-bottom: 20px;
  margin-top: 60px;
}

.last {
  height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  margin-top: 50px;
  margin: 20px 20px;
}

.secondImage {
  background-image: url(https://images.unsplash.com/photo-1585568954609-f1d5b24728e7?q=80&w=2370&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  height: 30vh;
  width: 30vh;
}

.cultureText {
  padding: 5px;
  width: 30%;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: large;
  text-align: center;
}

footer{
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
justify-content: space-evenly;

}

.foot{
background-color: bisque;
margin: 5px;
  padding: 5px;
  width: 100%;
  height: 40%;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: large;
  text-align: center;

}