body {
  padding: 0;
  margin: 0;
  background-color: cornsilk;
}

header {
  background-image: url(https://media.cnn.com/api/v1/images/stellar/prod/230210161917-01-japan-never-traveler-culture-tokyo.jpg?c=16x9&q=h_653,w_1160,c_fill/f_webp);
  height: 300px 300px;
  background-size: cover;
  background-position: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
  align-items: center;
  height: 180px;
}

menu a {
  background-color: darkslategrey;
  border-radius: 6px;
  padding: 6px;
  height: 10px;
  width: 80%;
  font-size: 1rem;
  text-decoration: none;
}
